body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 20px 0px 50px 0px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

li {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

/* Introduction section */

.intro {
    display: flex;
    padding: 40px 80px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 200px;
    padding-bottom: 100px;
}

.intro-left {
    max-width: 500px;
    
}

.intro-title {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    
}

.intro-par {
    color: #f9faf8;
}

.intro-button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: 800;
}

.image-placeholder {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 120px;
    color: #e5e7eb;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-title {
    font-size: 36px;
    font-weight: 800;
    padding: 30px 0px;
}

.containers {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}

.box {
    height: 180px;
    width: 180px;
    border:5px solid rgb(106, 133, 252);
    border-radius: 12px;
}

.description {
    text-align: center;
}

/* Quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 32px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
    padding: 0;
    margin: 0;
    max-width: 800px;
}

.author {
    margin: 0;
    font-weight: 800;
    padding: 16px 0px 0px 280px;
}

/* Sign up section */

.sign-up-section {
    padding: 3rem;
    padding-inline: 10rem;
    margin: auto;
}

.sign-up-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 3rem;
    padding-inline: 10rem;
    border-radius: 8px;
    flex: 1;

}

.sign-up-title {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.sign-up-button {
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    flex-shrink: 0;
    border-radius: 5px;
    font-weight: 800;
    padding: 8px 16px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: white;
    background-color: #1f2937;
    flex: 1;
    font-weight: lighter;
}

.copyright {
    width: 20px;
    height: 20px;
}


