body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 20px 0px 50px 0px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

li {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

.intro {
    display: flex;
    padding: 40px 80px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 200px;
    padding-bottom: 100px;
}

.intro-left {
    max-width: 500px;
    
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    
}

p {
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: 800;
}

.image-placeholder {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    color: #e5e7eb;
}